p{
    font-family: Montserrat;
}

.store-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.store-description{
    font-size: 15px;
    text-align: center;
}

.store-mode{
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
}