body{
    height: 3000px;
}

.div-a{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 5);
    color: white;
    border-radius: 50px;
    font-family: Arial;
}

.div-b{
    width: 320px;
    height: 180px;
    background-color: gray;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.div-ca{
    width: 100px;
    height: 80px;
    background-color: gray;
    position: fixed;
    top: 50px;
    left: 50px;
}

.div-cb{
    position: absolute;
    top: -20px;
    left: -20px;
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 5);
    color: white;
    border-radius: 50px;
    font-family: Arial;
}

.div-da{
    width: 150px;
    height: 80px;
    background-color: gray;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.div-db{
    position: absolute;
    top: -20px;
    left: -20px;
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 5);
    color: white;
    border-radius: 50px;
    font-family: Arial;
}

.div-dc{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: black;
    font-family: Arial;
    font-size: 12px;
    padding: 3px;
}

.div-sa{
    position: relative;
    display: inline-block;
}

.shirt-sa{
    border: 1px solid black;
    padding: 10px;
}

.discount-sa{
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
    font-family: Arial;
    background-color: black;
    padding: 3px;
    font-size: 12px;
}

.div-sb{
    position: relative;
    display: inline-block;
}

.shirt-sb{
    border: 1px solid black;
    padding: 10px;
}

.button-sb{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sb{
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.discount-sb{
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
    font-family: Arial;
    background-color: black;
    padding: 3px;
    font-size: 12px;
}